{% extends "base.html" %}
{% block body %}
	<div class="assignments">
	<h2>Click on the chapter you need to solve :</h2>
	<table class="table-bordered table-striped table-condensed cf"> 
	<tbody>
	  <!-- input type="hidden" name="question" value="{{questions}}"/-->
          <tr><td data-title="HW"><a href="/chapter2/">Chapter2</a></td><td data-title="">Not Completed</td></tr>
          <tr><td data-title="HW"><a href="/chapter3/">Chapter3</a></td><td data-title="">Not Completed</td></tr>
          <tr><td data-title="HW"><a href="/chapter5/">Chapter5</a></td><td data-title="">Not Completed</td></tr>
          <tr><td data-title="HW"><a href="/chapter8/">Chapter8</a></td><td data-title="">Not Completed</td></tr>
	</tbody>
	</table>
	</div>
{% endblock %}
