{% extends "base.html" %}
{% block body %}
<h2>Scoreboard</h2>
<hr>
{% for chap in chapters %}
<table class="score">
<tr>
	<caption>Chapter {{chap}}</caption>
	{% for quest,c in questions.items() %}
          {% if quest[-1] == chap %}
            {% for q in solved %}
              {% if quest == q %} 
	        <td bgcolor="#33cc33">{{c}}</td>
              {% endif %}
            {% endfor %}
            {% if quest not in solved %}
              <td bgcolor="ff0000">{{c}}</td>
            {% endif %}
          {% endif %}
	{% endfor %}
</tr>
</table>
{% endfor %}
{% endblock %}
