{% extends "layout.html" %}
{% block content %}
  <h2>Guestbook</h2>
  <form action="{{ url_for('sign') }}" method="post" class="box">
    <label><span>Name:</span><input type="text" name="name" required /></label>
    <label><span>Email:</span><input type="text" name="email" /></label>
    <label><span>Message:</span><textarea name="message" required></textarea></label>
    <label><span></span><input type="submit" value="Sign" /></label>
  </form>

  <h2>Entries</h2>
  {% for entry in entries|reverse %}
    <section class="entry box">
      <pre>{{ entry.message }}</pre>
      <header>
        {{ entry.name }} {% if entry.email %}&lt;{{ entry.email }}&gt;{% endif %}
        <em>signed on {{ entry.signed_on.strftime("%d.%m.%Y at %H:%M") }}</em>
      </header>
    </section>
  {% endfor %}
{% endblock %}
